<html>
    <head>
        <style>
            {% include "main.css" %}
        </style>
    </head>
    <body>
        <main>
            <h1>GOV.UK Notify tech docs checker</h1>
            {% for name, report in reports|sort|reverse %}
                <div class="row">
                    <a class="directory-link" href="{{ report }}">{{ name }}</a>
                </div>
            {% endfor %}
        </main>
    </body>
</html>