<html>
    <head>
        <style>
            {% include "main.css" %}
        </style>
    </head>
    <body>
        <div class="row">
            <a class="directory-link" href="..">Back</a>
        </div>
        <main>
            {% for row in rows %}
                <div class="row">
                    {% for column in row %}
                        <div class="language">
                            {{ column }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </main>
    </body>
</html>